<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Modification d'une plante</title>
</head>
<body>
<h1>Mise a jour</h1>
<form th:action="@{/potagerApp/plante/update/{id}(id=${plante.idPlante})}" th:object="${plante}" method="post">
	<label for="nom">nom:</label>
	<input type="text" th:field="*{nom}" id="nom"/>
	<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"/>
	<br>
	<label for="variete">variete:</label>
	<input type="text" th:field="*{variete}" id="variete"/>
	<span th:if="${#fields.hasErrors('variete')}" th:errors="*{variete}"/>
	<br>
	<label for="surfaceOccupe">surfaceOccupe:</label>
	<input type="number" th:field="*{surfaceOccupe}" id="surfaceOccupe"/>
	<span th:if="${#fields.hasErrors('surfaceOccupe')}" th:errors="*{surfaceOccupe}"/>
	<br>
	<input type="submit" value="valider"/>
</form>
</body>
</html>